:root {
  --main-color: #16a34a;
  --shadow-color: rgb(19, 19, 19);
  --background-color: rgb(230, 238, 246);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "navi profile profile profile"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content";
}
nav {
  grid-area: navi;
  background-color: var(--main-color);
}
.profile {
  grid-area: profile;
  box-shadow: 0 7px 10px var(--shadow-color);
}
.main-content {
  grid-area: main-content;
  background-color: var(--background-color);
}
