:root {
  --main-color: #16a34a;
  --shadow-color: rgb(203, 203, 203);
  --background-color: rgb(230, 238, 246);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.6fr repeat(3, 1fr);
  grid-template-rows: 0.75fr repeat(3, 1fr);
  grid-template-areas:
    "navi profile profile profile"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content";
}
nav {
  grid-area: navi;
  background-color: var(--main-color);
}
.profile {
  grid-area: profile;
  border-bottom: 4px solid var(--shadow-color);
}
.main-content {
  grid-area: main-content;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.6fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects projects announcement"
    "projects projects trending";
  padding: 2rem;
}

.projects {
  grid-area: projects;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
  padding-top: 2rem;
  padding-right: 3rem;
}
.project {
  background-color: white;
  border-radius: 10px;
  border-left: 0.7rem solid #16a34a;
  padding: 1.5rem;
}
.announcement {
  grid-area: announcement;
}
.trending {
  grid-area: trending;
}
