:root {
  --main-color: #16a34a;
  --shadow-color: rgb(151, 149, 149);
  --background-color: rgb(230, 238, 246);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  margin: 0;
  width: 3rem;
  border-radius: 50px;
}
.profile .logos {
  width: 2rem;
}
.logos {
  width: 1.5rem;
}
h1,
h2,
h3,
p,
h4 {
  font-family: roboto, Geneva, Tahoma, sans-serif;
}
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.6fr repeat(3, 1fr);
  grid-template-rows: 0.75fr repeat(3, 1fr);
  grid-template-areas:
    "navi profile profile profile"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content"
    "navi main-content main-content main-content";
}
nav {
  grid-area: navi;
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
}
nav h1 {
  margin-bottom: 2rem;
}
nav h3 {
  margin-bottom: 1rem;
}
#Community {
  margin-bottom: 2rem;
}
.profile {
  grid-area: profile;
  border-bottom: 4px solid var(--shadow-color);
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  margin-top: 1rem;
  width: 100%;
  height: 25%;
}
input {
  border: 0;
  border-radius: 10px;
  justify-self: baseline;
  background-color: var(--background-color);
  height: 1.5rem;
  width: 40%;
  margin-left: 1rem;
  margin-right: 3rem;
}
.icon {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}
.welcome {
  padding-left: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.welcome-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.welcome p {
  color: black;
  font-weight: bold;
}
.edit {
  display: flex;
  align-items: center;
}
.welcome img {
  width: 4.5rem;
  height: auto;
}
.edit {
  padding-top: 1rem;
  padding-right: 5rem;
  display: flex;
  gap: 2rem;
}
.edit div {
  background-color: var(--main-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.edit div p {
  color: white;
}
.main-content {
  grid-area: main-content;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.6fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects projects announcement"
    "projects projects trending";
  padding: 2rem;
}

.projects {
  grid-area: projects;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
  padding-top: 2rem;
  padding-right: 3rem;
}
.project {
  background-color: white;
  border-radius: 10px;
  border-left: 0.7rem solid var(--main-color);
  padding: 1.5rem;
}
p {
  color: rgb(114, 114, 114);
  font-size: smaller;
}
h4 {
  font-size: smaller;
}
.star {
  margin-top: 2rem;
  margin-right: 1rem;
}
.announcement {
  grid-area: announcement;
  margin-bottom: 2rem;
}
.announcement h3 {
  margin-bottom: 2rem;
}
.announcement-flex {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.announcement-flex div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.announcement-flex div:nth-child(-n + 2) {
  margin-bottom: 2rem;
}
.trending {
  grid-area: trending;
}
.project,
.announcement-flex {
  box-shadow: 5px 5px 10px var(--shadow-color);
}
